@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/************** CSS VARIABLES *************/
:root {
    --main-color: #4ee8e2;
    --bg-color: #dff8eb;
    --tag-color: #45c14e;
    --primary-color: #00324b;
    --icon-color: #002c43;
    --secondary-color: #fcfcfc;
    --fig-color: rgb(250, 6, 6);
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: var(--primary-color);
}
.third>figure:nth-child(2){
    background-image: url(images/food2.jpg);
}
.third>figure:nth-child(3){
    background-image: url(images/food3.jpg);
}
.third>figure:nth-child(4){
    background-image: url(images/food4.jpg);
}
.third>figure:nth-child(5){
    background-image: url(images/food5.jpg);
}
.third>figure:nth-child(6){
    background-image: url(images/food6.jpg);
}
.third>figure:nth-child(7){
    background-image: url(images/food7.jpg);
}
.third>figure:nth-child(8){
    background-image: url(images/food8.jpg);
}
.third>figure:nth-child(9){
    background-image: url(images/food9.jpg);
}
.third>figure:nth-child(10){
    background-image: url(images/food10.jpg);
}
.third>figure:nth-child(11){
    background-image: url(images/food11.jpg);
}
.third>figure:nth-child(12){
    background-image: url(images/food12.jpg);
}
.container{
    width: 475px;
    box-sizing: border-box;
}
header li, .order{
    display: none;
}
a{
    text-decoration: none;
}
header{
    margin-top: .1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    width: 100%;
    height: 10vh;
}
.homepage{
    font-size: 50px;
    color: var(--icon-color);
}
header span{
    color: var(--tag-color);
}
header img{
    width: 60px;
    height: auto;
}
.order:hover{
    background-color: var(--tag-color);
    color: var(--secondary-color);
    scale: 1.1;
}
nav>ul>li:hover{
    scale: 1.2;
    color: var(--tag-color);
}
nav>ul>li>a:hover{
    color: var(--tag-color);
}

/******** Styling the Jumbotron ********/
.jumbotron{
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    height: 70vh;
}
.left{
    box-sizing: border-box;
    flex-basis: 100%;
}
.left h1{
    font-weight: bold;
    font-size: 2.5em;
}
.left p{
    margin-top: 20px;
    font-size: 1.5em;
}
.left button{
    margin-top: 30px;
    background: var(--tag-color);
    color: var(--secondary-color);
    padding: .5em 1.2em;
    border-radius: 5em;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
.right{
    display: none;
}
.note{
    text-align: center;
    margin: 3em 0;
    font-size: 1.3em;
    font-variant: small-caps;
}

/*********** Styling the First Section *********/
.first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: .2em;
    row-gap: 2em;
    padding: 0 .5em;
    box-sizing: border-box;
    background: var(--bg-color);
    position: relative;
}
.first figure{
    margin: 1em .5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first figure img{
    width: 200px;
    height: 150px;
    border-radius: .5em;
}
.first figure figcaption{
    text-align: center;
    width: 12.5em;
}
.first figure:nth-child(3){
    position: absolute;
    bottom: 3em;
    left: 7.5em;
}

/*********** Styling the Second Section *********/
.second{
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.2em;
    row-gap: 1.2em;
    padding: 1.2em 2em;
    background: var(--main-color);
}
.review{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 1em .3em;
    border-radius: 2em;
}
.review>img{
    height: 5em;
    width: 5em;
    border-radius: 50%;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.block>img{
margin-top: .5em;
}
.block>blockquote{
    margin-top: .2em;
    color: var(--primary-color);
    text-align: center;
}
.block>cite{
    font-size: 1.2em;
    font-weight: bold;
}

/*********** Styling the Third Section *********/
.third{
    box-sizing: border-box;
    display: none;
}

/*********** Styling the Footer *********/
footer{
    box-sizing: border-box;
    background: var(--primary-color);
    padding: 1em 2em;
}
footer>ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2em;
    row-gap: 1em;
    list-style: none;
    margin-top: 1.2em;
}
footer>ul>li{
    color: var(--secondary-color);
}
footer>p{
    margin-top: 2em;
    text-align: center;
    color: var(--secondary-color);
}

/*********** MEDIA QUERIES *********/
@media (min-width: 476px) and (max-width:640px) {
    .container{
        width: 640px;
        box-sizing: border-box;
    }
    .note{
        font-size: 1.8em;
    }
    .first{
        max-width: 640px;
        box-sizing: border-box;
    }
    .first figure img{
        width: 290px;
        height: 200px;
        border-radius: .5em;
    }
    .first figure figcaption{
        font-size: 1.3em;
    }
    .first figure:nth-child(3){
        position: absolute;
        bottom: 3em;
        left: 11em;
    }
    .second{
        margin-top: 8em;
    }
    .block>blockquote{
        font-size: 1.1em;
        text-align: center;
    }
    cite{
        margin-top: .2em;
    }
    footer{
        height: 250px;
    }
    footer>ul{
        margin-top: 3em;
        row-gap: 3em;
    }
    footer>p{
        text-align: center;
        margin-top: 4em;
        color: var(--secondary-color);
    }
}

@media (min-width: 641px) and (max-width:768px) {
    .container{
        width: 768px;
        box-sizing: border-box;
    }
    .left{
        font-size: 1.2em;
    }
    .note{
        font-size: 2.2em;
    }
    .first{
        max-width: 768px;
        box-sizing: border-box;
        padding-top: 2em;
    }
    .first figure img{
        width: 350px;
        height: 250px;
        border-radius: 1.5em;
    }
    .first figure figcaption{
        font-size: 1.7em;
    }
    .first figure:nth-child(3){
        position: absolute;
        bottom: 3em;
        left: 11em;
    }
    .second{
        margin-top: 6em;
    }
    .block>blockquote{
        font-size: 1.3em;
    }
    cite{
        margin-top: .5em;
    }
    footer{
        height: 350px;
    }
    footer>ul{
        margin-top: 3em;
        row-gap: 5em;
    }
    footer>p{
        font-size: 1.6em;
        margin-top: 4em;
        color: var(--secondary-color);
    }
}

@media (min-width: 769px) and (max-width:1024px) {
    .container{
        width: 1024px;
        box-sizing: border-box;
    }
    header li, .order{
        display: inline-block;
    }
    header{
        margin: 0;
    }
    header>img{
        display: none;
    }
    nav>ul>li{
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 .2em;
    }
    .order{
        font-size: 1.3em;
        font-weight: bold;
        border: solid var(--tag-color);
        padding: 0.5em 0.8em;
        border-radius: 2em;
        margin-left: 1.8em;
        color: var(--primary-color);
        font-variant: small-caps;
        cursor: pointer;
    }
    .jumbotron{
        margin-top: 0;
    }
    .right{
        display: block;
        flex-basis: 50%;
    }
    .right>img{
        width: 280px;
    }
    .left{
        flex-basis: 50%;
    }
    .note{
        font-size: 2.5em;
    }
    .first{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .first figure:nth-child(3){
        position: relative;
        bottom: auto;
        left: auto;
    }
    .second{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .third{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3. 1fr);
        grid-gap: .7em;
        padding: 1.5em;
        background-color: var(--bg-color);
        justify-content: center;
        align-items: center;
    }
    .third>figure{
        width: 230px;
        height: 200px;
        background-image: url(images/food1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 1em;
        position: relative;
    }
    .third>figure>figcaption{
        color: var(--fig-color);
        font-size: 1.5em;
        font-weight: bold;
        position: absolute;
        transform: translate(50%, 50%);
    }
    footer{
        height: 300px;
    }
    footer>ul{
        margin-top: 3em;
        row-gap: 5em;
    }
    footer>p{
        font-size: 1.6em;
        margin-top: 2.5em;
        color: var(--secondary-color);
    }
}

@media (min-width: 1025px) and (max-width:1280px) {
    .container{
        width: 1280px;
        box-sizing: border-box;
    }
    header li, .order{
        display: inline-block;
    }
    header{
        margin: 0;
    }
    header>img{
        display: none;
    }
    nav>ul>li{
        font-size: 1.4em;
        font-weight: bold;
        margin: 0 .5em;
    }
    .order{
        font-size: 1.3em;
        font-weight: bold;
        border: solid var(--tag-color);
        padding: 0.5em 0.8em;
        border-radius: 2em;
        margin-left: 1.8em;
        color: var(--primary-color);
        font-variant: small-caps;
        cursor: pointer;
    }
    .jumbotron{
        margin-top: 0;
        box-sizing: border-box;
    }
    .right{
        display: block;
        flex-basis: 50%;
    }
    .right>img{
        width: 350px;
    }
    .left{
        flex-basis: 50%;
    }
    .note{
        margin: 1em 0;
        font-size: 3.5em;
    }
    .first{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .first>figure>img{
        width: 380px;
        height: 300px;
    }
    .first>figure>figcaption{
        font-size: 1.5em;
    }
    .first figure:nth-child(3){
        position: relative;
        bottom: auto;
        left: auto;
    }
    .second{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .third{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3. 1fr);
        grid-gap: .7em;
        padding: 1.5em;
        background-color: var(--bg-color);
        justify-content: center;
        align-items: center;
    }
    .third>figure{
        width: 300px;
        height: 250px;
        background-image: url(images/food1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 1em;
        position: relative;
    }
    .third>figure>figcaption{
        color: var(--fig-color);
        font-size: 1.5em;
        font-weight: bold;
        position: absolute;
        transform: translate(50%, 50%);
    }
    footer{
        height: 300px;
        text-align: center;
    }
    footer>ul{
        margin-top: 3em;
        row-gap: 5em;
    }
    footer>p{
        font-size: 1.6em;
        margin-top: 2.5em;
        color: var(--secondary-color);
    }
}
@media (min-width: 1281px) {
    .container{
        width: auto;
        box-sizing: border-box;
    }
    header li, .order{
        display: inline-block;
    }
    header{
        margin: 0;
    }
    header>img{
        display: none;
    }
    nav>ul>li{
        font-size: 1.8em;
        font-weight: bold;
        margin: 0 .5em;
    }
    .order{
        font-size: 1.3em;
        font-weight: bold;
        border: solid var(--tag-color);
        padding: 0.5em 0.8em;
        border-radius: 2em;
        margin-left: 1.8em;
        color: var(--primary-color);
        font-variant: small-caps;
        cursor: pointer;
    }
    .jumbotron{
        margin-top: 0;
        box-sizing: border-box;
    }
    .right{
        display: block;
        flex-basis: 50%;
    }
    .right>img{
        width: 350px;
    }
    .left{
        flex-basis: 50%;
    }
    .note{
        margin: 1em 0;
        font-size: 3.5em;
    }
    .first{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .first>figure>img{
        width: 380px;
        height: 300px;
    }
    .first>figure>figcaption{
        font-size: 1.5em;
    }
    .first figure:nth-child(3){
        position: relative;
        bottom: auto;
        left: auto;
    }
    .second{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .third{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3. 1fr);
        grid-gap: .7em;
        padding: 1.5em;
        background-color: var(--bg-color);
        justify-content: center;
        align-items: center;
    }
    .third>figure{
        width: 300px;
        height: 250px;
        background-image: url(images/food1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 1em;
        position: relative;
    }
    .third>figure>figcaption{
        color: var(--fig-color);
        font-size: 1.9em;
        font-weight: bolder;
        position: absolute;
        transform: translate(50%, 50%);
    }
    footer{
        height: 300px;
        text-align: center;
    }
    footer>ul{
        margin-top: 3em;
        row-gap: 5em;
    }
    footer>ul>li{
        font-size: 1.2em;
    }
    footer>p{
        font-size: 2em;
        margin-top: 2em;
        color: var(--secondary-color);
    }
}